{% extends 'base.html.twig' %}

{% block title %}Hello FirstController!{% endblock %}

{% block body %}

<div class="container">

<h1>{{name}}</h1>
<h1>{{firstName}}</h1>

{# <img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt=""> #}

</div>
{% endblock %}
